.card {
  width: 100%;
  max-width: 520px;
  margin: 120px auto;
  background: #fff;
  padding: 45px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.12);
}


/* Inside content ko center align karne ke liye */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal center */
  justify-content: center;
  padding: 25px;
  text-align: center;    /* text bhi center */
}